.day-btn {
  background-color: transparent; /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
.day-btn:hover {
  background-color: royalblue;
  border-radius: 25px;
}
