.wrapper {
  display: grid;

  grid-template-columns: 50px 50px;
  grid-gap: 10px;
  text-align: center;
}

/* .box1 {
  top: 30px;
  right: 30px;
} */

.btn {
  background-color: transparent; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.btn:hover {
  background-color: red;
  border-radius: 50px;
}

.box1 {
  color: white;
}
